


{% extends 'includes/base.html' %}
{% block content %}

{% load static %}

<div>
  <br>
</div>
<div>
  <h2 align="center">Register Here</h2>
</div>
<div  >
<form  class="container col-4" action="{%url 'register' %}" method="post">
  {%csrf_token%}
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
 

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" name="email" id="form3Example3" class="form-control" required />
    <label class="form-label"  for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="password1"  id="form3Example4" class="form-control" required />
    <label class="form-label" for="form3Example4">Password</label>
  </div>
   <div class="form-outline mb-4">
    <input type="password" name="password2" id="form3Example4" class="form-control" required />
    <label class="form-label" for="form3Example4">Confirm Password</label>
  </div>

  <!-- Checkbox -->
 

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>or sign up with:</p>
    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
    <br><br>Already have an account?
    <a href="{% url 'login'%}">Login Now</a>
  </div>
</form>
</div>

{% endblock content %}